@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@400;600&display=swap');
body {
    background-color: #fdfdfd8a;
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}